name: Split Monorepo

on:
    push:
        branches:
            - master
        tags:
            - '*'

jobs:
    split_monorepo:
        name: "Update repository"
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                packages: [
                    {
                        package: api,
                        path: src/Netflex/API
                    },
                    {
                        package: breadcrumbs,
                        path: src/Netflex/Breadcrumbs
                    },
                    {
                        package: commerce,
                        path: src/Netflex/Commerce
                    },
                    {
                        package: console,
                        path: src/Netflex/Console
                    },
                    {
                        package: customers,
                        path: src/Netflex/Customers
                    },
                    {
                        package: encryption,
                        path: src/Netflex/Encryption
                    },
                    {
                        package: files,
                        path: src/Netflex/Files
                    },
                    {
                        package: foundation,
                        path: src/Netflex/Foundation
                    },
                    {
                        package: log,
                        path: src/Netflex/Log
                    },
                    {
                        package: http,
                        path: src/Netflex/Http
                    },
                    {
                        package: message-channel,
                        path: src/Netflex/MessageChannel
                    },
                    {
                        package: notifications,
                        path: src/Netflex/Notifications
                    },
                    {
                        package: pages,
                        path: src/Netflex/Pages
                    },
                    {
                        package: query-builder,
                        path: src/Netflex/Query
                    },
                    {
                        package: renderer,
                        path: src/Netflex/Renderer
                    },
                    {
                        package: scheduler,
                        path: src/Netflex/Scheduler
                    },
                    {
                        package: sdk,
                        path: src/Netflex/SDK
                    },
                    {
                        package: structures,
                        path: src/Netflex/Structures
                    },
                    {
                        package: support,
                        path: src/Netflex/Support
                    }
                ]

        steps:
            -   uses: actions/checkout@v2
            # no tag
            -
                if: "!startsWith(github.ref, 'refs/tags/')"
                # Uses an action in the root directory
                name: Monorepo Split of ${{ matrix.packages.package }}
                uses: symplify/github-action-monorepo-split@2.1
                env:
                    GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
                with:
                    package_directory: '${{ matrix.packages.path }}'
                    repository_organization: 'netflex-sdk'
                    repository_name: '${{ matrix.packages.package }}'
                    user_name: "Thomas Alrek"
                    user_email: "thomas@alrek.no"
                    branch: "master"

            # with tag
            -
                if: "startsWith(github.ref, 'refs/tags/')"
                # Uses an action in the root directory
                name: Monorepo Tagged Split of ${{ matrix.packages.package }}
                uses: symplify/github-action-monorepo-split@2.1
                env:
                    GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
                with:
                    tag: ${GITHUB_REF#refs/tags/}

                    package_directory: '${{ matrix.packages.path }}'
                    repository_organization: 'netflex-sdk'
                    repository_name: '${{ matrix.packages.package }}'
                    user_name: "Thomas Alrek"
                    user_email: "thomas@alrek.no"
                    branch: "master"